In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/akash/git/stock_market_strategies/stock_market_strategies/data/stock_data_raw.csv")

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name
0,2020-01-01,1387.957031,1396.277466,1376.527954,1380.276611,1356.042725,7002234.0,reliance.NS
1,2020-01-02,1382.471069,1408.941040,1382.471069,1403.775024,1379.128662,8855158.0,reliance.NS
2,2020-01-03,1401.671997,1409.581055,1392.528687,1405.466553,1380.790527,10492349.0,reliance.NS
3,2020-01-06,1389.785767,1397.008911,1369.670410,1372.870605,1348.766846,12259588.0,reliance.NS
4,2020-01-07,1388.871338,1403.043579,1383.842529,1393.991699,1369.517090,8341811.0,reliance.NS

In [6]:
df["Stock Name"].unique()

array(['reliance.NS', 'tcs.NS', 'hdfcbank.NS', ..., 'lakpre.NS',
       'vasa.NS', 'cmmipl.NS'], dtype=object)

In [5]:
df["Date"].describe()

count        2132856
unique          1147
top       2024-03-28
freq            2240
Name: Date, dtype: object