In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("/Users/akash/git/stock_market_strategies/backtester_input.csv", compression='gzip', parse_dates=['Date']).rename({"Stock Name": "Symbol"},
                                                                                          axis=1)

In [8]:
df.head()

,Date,Symbol,strategy_10_ema_crossing,strategy_20_ema_crossing,strategy_20_ema_crossing_50_ema
0,2020-01-01,20microns.NS,0.0,0.0,0.0
1,2020-01-01,21stcenmgm.NS,0.0,0.0,0.0
2,2020-01-01,360one.NS,0.0,0.0,0.0
3,2020-01-01,3iinfoltd.NS,0.0,0.0,0.0
4,2020-01-01,3mindia.NS,0.0,0.0,0.0

In [15]:
df = df.melt(id_vars=["Symbol", "Date"], value_name= "Occurence", value_vars=df.set_index(["Date", "Symbol"]).columns.tolist()).rename({"variable":"Strategy"}, axis = 1).query("Occurence == 1").drop(["Occurence"], axis = 1)

                Symbol       Date                         Strategy
16073     20microns.NS 2020-01-15         strategy_10_ema_crossing
16075        360one.NS 2020-01-15         strategy_10_ema_crossing
16076     3iinfoltd.NS 2020-01-15         strategy_10_ema_crossing
16077       3mindia.NS 2020-01-15         strategy_10_ema_crossing
16078        3pland.NS 2020-01-15         strategy_10_ema_crossing
...                ...        ...                              ...
6391473  shripiston.NS 2024-08-19  strategy_20_ema_crossing_50_ema
6391480     siemens.NS 2024-08-19  strategy_20_ema_crossing_50_ema
6391775  vinylindia.NS 2024-08-19  strategy_20_ema_crossing_50_ema
6391780   visakaind.NS 2024-08-19  strategy_20_ema_crossing_50_ema
6391802  weizmanind.NS 2024-08-19  strategy_20_ema_crossing_50_ema

[334047 rows x 3 columns]

In [4]:
df = pd.read_parquet("/Users/akash/git/stock_market_strategies/outputs/strategies_occurrence.parquet")

In [5]:
df.head()

        Symbol       Strategy        Date
0  reliance.NS  SMA Crossover  2020-06-11
1  reliance.NS  SMA Crossover  2021-06-25
2  reliance.NS  SMA Crossover  2022-12-13
3  reliance.NS  SMA Crossover  2023-06-26
4  reliance.NS   RSI Oversold  2020-01-30